<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= Employee.human_attribute_name(:name) %></dt><dd><%= @employee.full_name %></dd>
  <dt><%= Employee.human_attribute_name(:gender) %></dt><dd><%= @employee.gender %></dd>
  <dt><%= Employee.human_attribute_name(:email) %></dt><dd><%= @employee.user.email %></dd>
  <dt><%= Employee.human_attribute_name(:role) %></dt><dd><%= @employee.role %></dd>
  <dt><%= Employee.human_attribute_name(:created_at) %></dt><dd><%= l @employee.created_at, format: :long, default: '%B %d, %Y' %></dd>
</dl>