<h2><%= t '.header', default: 'Employees' %></h2>

<p><%= t '.description', default: ' ' %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th><i class="icon-th-list"></i></th>
    <th><%= Employee.human_attribute_name(:name) %></th>
    <th><%= Employee.human_attribute_name(:gender) %></th>
    <th><%= Employee.human_attribute_name(:birthday) %></th>
    <th></th>
  </tr>
  </thead>

  <tbody id="employees">
  <% @employees.each_with_index do |employee, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td class="list"><%= employee.full_name.capitalize %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.birthday %></td>
        <td>
          <%= link_to_modal t('show', default: "Show"), admin_employee_url(employee) %>
          <%= link_to_modal t('edit', default: "Edit"), edit_admin_employee_url(employee) %>
          <%= link_to_destroy t('destroy', default: "Destroy"), admin_employee_path(employee) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render 'modal-window' %>

<br/>

<%= link_to_modal_new t('new_modal', modal: Employee.model_name.human), new_admin_employee_path %>
