<div class="navbar" xmlns="http://www.w3.org/1999/html">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <ul class="nav">
        <li><%= link_to t('home', default: 'Home'), root_path %></li>
        <li class="<%= ' active' if ['categories', 'labels'].include?(controller_name) %> dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('menu', default: 'Menu') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li <%= ' class=active' if controller_name == 'categories' %>>
              <%= link_to Category.model_name.human, admin_categories_path %>
            </li>
            <li <%= ' class=active' if controller_name == 'labels' %>>
              <%= link_to Label.model_name.human, admin_labels_path %>
            </li>
          </ul>
        </li>
        
        <li <%= ' class=active' if controller_name == 'products' %>>
          <%= link_to Product.model_name.human, admin_products_path %>
        </li>
        <li <%= ' class=active' if controller_name == 'employees' %>>
          <%= link_to Employee.model_name.human, admin_employees_path %>
        </li>
        <li></li>
      </ul>

      <%= render 'navbar_user_menu' %>
    </div>
  </div>
</div>