<h2><%= t '.header', default: 'Categories' %></h2>

<p><%= t '.description', default: ' ' %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th><i class="icon-th-list"></i></th>
    <th><%= Category.human_attribute_name(:name) %></th>
    <th><%= Category.human_attribute_name(:published) %></th>
    <th></th>
  </tr>
  </thead>

  <tbody id="categories" data-update-url="<%= sort_admin_categories_url %>">
  <% @categories.each do |category| %>
      <tr id="<%= category.id %>">
        <td class="handle"><i class="icon-move"></i></td>
        <td class="list"><%= category.name.capitalize %></td>
        <td><%= boolean_to_text category.published %></td>
        <td>
          <%= link_to_modal t('show', default: 'Show'), admin_category_url(category) %>
          <%= link_to_modal t('edit', default: 'Edit'), edit_admin_category_url(category) %>
          <%= link_to_destroy t('destroy', default: 'Destroy'), admin_category_path(category) %>
        </td>
      </tr>
  <% end %>
  </tbody>

  <caption><span class="label label-info">Tip</span> Versleep de <i class="icon-move"></i> naar boven en beneden om de volgorde van de categorieën te bepalen.</caption>
</table>

<%= render 'modal-window' %>

<br/>

<%= link_to_modal_new t('new_modal', modal: Category.model_name.human, default: 'New'), new_admin_category_path %>
