<%= simple_form_for [:admin, product], :class => 'form-inline' do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :unit_price, as: :decimal %>
      <%= f.input :sales_price, as: :float %>
	  <%= f.input :published_at, as: :date %>
	  <%= f.input :published_until, as: :string %>
	  <%= f.association :category %>
	  <%= f.association :label %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
<% end %>
