<%= simple_form_for [:admin, product], :class => 'form-inline' do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :unit_price, as: :decimal %>
      <%= f.input :sales_price, as: :float %>
      <%= f.input :published_at, as: :date %>
      <%= f.input :published_until, as: :date %>
      <%= f.association :category %>
      <%= f.association :label %>
      <%= f.input :description %>
      <%= f.simple_fields_for :assets do |a| %>
        <% if a.object.new_record? %>
          <%= a.input :asset, as: :file %>
        <% else %>
          <%= image_tag a.object.asset.expiring_url(10, :thumb) %>
          <%= a.check_box :_destroy %>
        <% end %>  
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
<% end %>
